[submodule "CML Shared"]
	path = CML Shared
	url = https://github.com/DelacorLLC/GDevCon1_CML-DQMH_Shared.git
[submodule "Settings Editor"]
	path = Settings Editor
	url = https://github.com/DelacorLLC/GDevCon1_CML-DQMH_Settings_Editor.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/DelacorLLC/GDevCon1_CML-DQMH_Logger.git
[submodule "Acquisition"]
	path = Acquisition
	url = https://github.com/DelacorLLC/GDevCon1_CML-DQMH_Acquisition.git
[submodule "CML UI"]
	path = CML UI
	url = https://github.com/DelacorLLC/GDevCon1_CML-DQMH_CML-UI.git
[submodule "Launcher Support"]
	path = Launcher Support
	url = https://github.com/DelacorLLC/GDevCon1_Launcher-Support.git
